html,body,div,form,h1,h2,h3,h4,h5,h6,label,input,textarea,fieldset,legend,select,ul,li,
p,img{margin:0px; padding:0px;}
select{color:#000d1b;}
ul,li{list-style:none;}
img,input{border:none;}
table{border-collapse:collapse;}
h1{font-size:14px;}
h2{font-size:14px;}
h3{font-size:12px;}
a{text-decoration:none;color:#ffffff;}
a:visited{text-decoration:none;color:#ffffff;}
a:hover{text-decoration:none;color:#ffffff;}
a:active{text-decoration:none;color:#ffffff;}
:focus{outline:none;}
.clear {clear:both;height: 0;line-height: 0;font-size: 0;}
button{cursor: pointer;}

body{font: 14px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif;color: #ffffff;	background: #023750 no-repeat fixed center; background-size: cover;}

input{font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;}

html, body, .bingo-center{width: 100%; height: 100%; overflow: hidden;}
.bingo-left, .bingo-riget{width: 40%; height: 100%; float: left;}
.bingo-riget{width: 60%;}
.bingo-left{background: red;}
.bingo-left-center{width: 100%; height: 80%; position: relative;}
.bingo-left-bottom{width: 100%; height: 20%; position: relative;}
.bingo-left-bottom > div{
	width: 500px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bingo-card{
	width: 90px;
    height: 90px;
    background: url(images/tree_bg.jpg);
    border-radius: 50%;
	float: left;
	margin: 3px;
}
	
.bingo-num, #target{
	display: block;
    line-height: 90px;
    font-size: 60px;
    text-align: center;
    margin: 0px auto;
}

.bingo-random{
	width: 200px;
    height: 200px;
	
	margin: 0px auto;
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bingo-random > #target{
	font-size: 120px;
	line-height: 200px;
}

#bingo-template{
	display: none;
}
	    
@charset "UTF-8";
/* CSS Document */

/*
DEMO 4
*/

.a_demo_four {
	margin: 14px;
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_four:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_four::before {
	background-color:#2591b4;
	background-image:url(images/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.a_demo_four:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}